.section-one {
	margin: 5rem 0;
}

.mockup-grid {
	margin-top: 7rem !important;
}

.grey-text {
	opacity: 0.5 !important;
}

.stats-text {
	text-align: center !important;
}

.section-one a {
	text-decoration: none;
}

@media only screen and (max-width: 768px) { 

	.mockup-img {
		width: 100%;
	}

	.mockup-grid {
		margin-bottom: 4rem !important;
	}

}