:root {
  --pink: hsl(322, 100%, 66%);
  --light-pink: hsl(321, 100%, 78%);
  --light-red: hsl(0, 100%, 63%);
  --dark-cyan: hsl(192, 100%, 9%);
  --pale-blue: hsl(207, 100%, 98%);
}

@font-face {
  font-family: "Poppins";
  src: url(./fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Open Sans";
  src: url(./fonts/OpenSans-Regular.ttf);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

