:root {
  --pink: hsl(322, 100%, 66%);
  --light-pink: hsl(321, 100%, 78%);
  --light-red: hsl(0, 100%, 63%);
  --dark-cyan: hsl(192, 100%, 9%);
  --pale-blue: hsl(207, 100%, 98%);
}

@font-face {
  font-family: "Poppins";
  src: url(./fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Open Sans";
  src: url(./fonts/OpenSans-Regular.ttf);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif !important;
  font-weight: 700 !important;
  color: var(--dark-cyan) !important;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn {
  padding: 0.5rem 1.5rem !important;
}
.rounded {
  border-radius: 30px !important;
}

.white-btn {
	border: 1px solid var(--pink) !important;
	color: var(--pink) !important;
}

.purple-btn {
  background: var(--pink) !important;
  color: white !important;
  padding: 1.1rem 5rem !important;
}


@media only screen and (max-width: 600px) {
	
.purple-btn {
  padding: 1rem 2rem !important;
}

.btn {
  padding: 0.5rem 1rem !important;
}

.MuiTypography-h3 {
  font-size: 2rem !important;
}


}